@import '../bedrock';

@pie-url: '/path/to/PIE.htc';
@boxsizing-url: '/path/to/boxsizing.htc';

// Bedrock Color
@orange: rgb(246, 134, 50);
@yellow: rgb(255, 240, 61);
@black: rgb(35, 32, 0);

.test(@test-text) {
  &:before {
    content: '@{test-text}';
  }
}

div {
  .inline-block();
  color: @black;
  float: left;
  height: 50px;
  &:nth-child(odd) {
    #transparent .background(@orange, .85);
  }
  &:nth-child(even) {
    #transparent .background(@yellow, .85);
  }
}

.t01 {
  .test(Backface Visibility);
  .backface-visibility(hidden);
  .rotate(90deg, y);
  .inline-block();
}

.t02 {
  .test(Copyleft);
  .copyleft();
}

.t03a {
  .test(Horizontal Padding);
  .h-padding(10px);
  .inline-block();
}

.t03b {
  .test(Vertical Padding);
  .v-padding(10px);
  .inline-block();
}

.t04a {
  .test(Translate);
  .translate(0, 20%);
}

.t04b { 
  .test(Translate 3D);
  .translate(-10%, 10%, 0);
}

.t05 {
  .test(Background Clip);
  .background-clip(padding);
  border: 0.5em rgba(0, 0, 0, 0.5) solid;
}

.t06 {
  .test(Transition Delay);
  .transition(0.3s all ease-in-out);
  .delay(3s);
  &:hover {
    .opacity(0.5);
  }
}

.t07 { .reset-filter() }
.t09 { .background-size(100%) }
.t11a { #transparent .color(white, .9) }
.t11a-ie8 {
	@support-ie8: true;
	#transparent .color(white, .9);
.t10 {
  .test(Resize);
  textarea {
    .size(50px, 100px);
    .resize(none);
  }
}

}
.t11b { #transparent .background(black, .9) }
.t11b-ie8 {
	@support-ie8: true;
	#transparent .background(black, .9);
}
.t12 { .border-radius(3px) }
.t12-pie {
	@support-pie: true;
	.border-radius(3px);
}
// .t13a { #gradient .horizontal() }
// .t13b { #gradient .vertical() }
// .t13c { #gradient .directional() }
// .t13d { #gradient .vertical-three-colors() }
// .t13e { #gradient .horizontal-three-colors() }
// .t13f { #gradient .radial() }
// .t13g { #gradient .striped() }
.t14 { .rotate(2deg) }
.t15 { .unstyle-form() }
.t16 { .box-shadow(1px 1px 10px 2px #ccc) }
.t17 { .hyphens() }
.t18 { .scale(2.4) }
.t19 { .unstyle-list() }
.t20 { .box-sizing(border-box) }
.t20-ie7 {
	@support-ie7: true;
	.box-sizing(border-box);
}
.t21 { .replace-text() }
.t22 { .size(20px) }
.t23 { .user-select(green) }
.t24 { .center-block() }
.t25 { .inline-block() }
.t25-ie7 {
	@support-ie7: true;
	.inline-block();
}
.t26 { .skew(30deg, 20deg) }
.t27 { .valign(300px) }
.t28 { .clearfix() }
.t28-ie7 {
	@support-ie7: true;
	.clearfix();
}
.t29a { .h-margin(auto) }
.t29b { .v-margin(auto) }
.t30 { .sticky-footer(100px) }
.t31 { .columns(72em, 5em) }
.t32 { .opacity(50) }
.t32-ie8 {
	@support-ie8: true;
	.opacity(50);
}
.t33 { .transition(all .3s east-in-out) }
