// Box sizing
.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	-ms-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

.box-sizing(@boxmodel) when (@support-ie7 = true) {
	.@{ie7-class} & {
		behavior: url("@{boxsizing-url}");
	}
}