// valign
.valign(@height) {
	display: table;
	height: @height;
	overflow: hidden;

	> .inner {
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;

		.element {
			position: relative;
			z-index: 1;
		}
	}
}

.valign(@height) when (@support-ie7 = true) {
	position: relative;
	overflow: visible;

	> .inner {
		position: absolute;
		top: 50%;
	
		.element {
			top: -50%;
		}
	}
}
